@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #c4cbf9;
}

.phone-input {
  width: 100% !important;
  color: white !important;
  background-color: transparent !important;
  padding: 1px 0 0 48px !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #766bcb !important;
}

.phone-dropdown {
  background: #4e40b9 !important;
  color: var(--color-primary) !important;
}

.phone-dropdown .dial-code {
  color: var(--color-primary) !important;
}

@media only screen and (max-width: 640px) {
  .phone-button {
    background-color: transparent !important;
    border: none !important;
  }
}

.form-color {
  color: var(--color-primary) !important;
}
